DAEMON_LIST = $(DAEMON_LIST) JOB_ROUTER

ACCOUNTING_HOOK_TRANSLATE_JOB = /condor/bin/accounting_hook.py
JOB_ROUTER_HOOK_KEYWORD =ACCOUNTING
JOB_ROUTER.USE_PROCD = False

JOB_ROUTER_DEFAULTS = \
[ \
    requirements=target.WantJobRouter is True; \
    delete_WantJobRouter = true; \
    EditJobInPlace = True;\
]

JOB_ROUTER_POLLING_PERIOD = 10

JOB_ROUTER_ENTRIES = [ \
    name = "Add accounting information to jobs";\
    GridResource = "NONE"; \
    OverrideRoutingEntry = True; \
    TargetUniverse = 5;\
    set_ACCOUNTING_Route = True; \
    set_HookKeyword = "ACCOUNTING"; \
]
