DAEMON_LIST = $(DAEMON_LIST), JOB_ROUTER

CUSTOM_HOOK_DIR=/condor/python/htcondor-hooks/htcondor_hooks
ACCOUNTING_HOOK_TRANSLATE_JOB = $(CUSTOM_HOOK_DIR)/accounting_hook.py
JOB_ROUTER_HOOK_KEYWORD = ACCOUNTING
JOB_ROUTER.USE_PROCD = False

JOB_ROUTER_DEFAULTS = [ \
    requirements=True; \
    EditJobInPlace = True; \
]

JOB_ROUTER_POLLING_PERIOD = 10

JOB_ROUTER_ENTRIES = [ \
    name = "Add accounting information to jobs";\
    GridResource = "NONE"; \
    OverrideRoutingEntry = True; \
    TargetUniverse = 5;\
    set_ACCOUNTING_Route = True; \
    set_HookKeyword = "ACCOUNTING"; \
]

MAX_HISTORY_ROTATIONS = 20
MMUTABLE_JOB_ATTRS = $(IMMUTABLE_JOB_ATTRS) AcctGroup AcctGroupUser
SUBMIT_REQUIREMENT_CheckGroup = AcctGroup isnt undefined
SUBMIT_REQUIREMENT_CheckGroup_REASON = strcat("Could not map '", Owner, "' to a group")
